type qcrilam_service,    service_manager_type;

type fingerprint_hidl_service, hwservice_manager_type;
type hal_fingerprint_hwservice, hwservice_manager_type;

